/* CSS declarations go here */



#panLeft {
    background-color: blue;
    float:left;
    width:68vw;
    height:90vh;
}

#panRight {
    background-color: red;
    float:left;
    width:30vw;
    height:90vh;
}

#footer {
    background-color: black;
    clear:both;
}

body{
    margin:0px;
}

#canvas{
    margin:0px;
    display:inline;

}

#header{
    background-color: yellow;
    width:100%;
    height:100px;

}
/*
#panLeft{
    background-color:orange;

}

#panRight{
    background-color:red;

}

#panLeftMedia{


}

#panLeftContent{


}

#panRightMod1{


}

#panRightMod2{


}

#panRight3{


}*/